[project]
	description = This is the official source code of FreeCAD, a free and opensource multiplatform 3D parametric modeler
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/laksanth
[access "refs/for/refs/*"]
	read = group user/laksanth
	push = group user/laksanth
	label-Code-Review = -2..+2 group user/laksanth
	label-Verified = -1..+1 group user/laksanth
	rebase = group user/laksanth
	removeReviewer = group user/laksanth
	submit = group user/laksanth
[access "refs/heads/*"]
	read = group user/laksanth
	create = group user/laksanth
	push = +force group user/laksanth
	pushMerge = group user/laksanth
[access "refs/tags/*"]
	push = group user/laksanth
	push = +force group user/laksanth
